	    <footer id="colophon" class="site-footer" role="contentinfo">

	      <aside class="widget-area" role="complementary">
		      <div class="wrap">
						<div class="widget-column">
					    <section id="text-3" class="widget widget_text">
                <h2 class="widget-title">About Waypoint Spine</h2>
                <div class="textwidget">Waypoint Spine is an orthopedic practice dedicated exclusively to the evaluation and treatment of disorders of the cervical, thoracic, and lumbar spine.</div>
		          </section>
            </div>
						<div class="widget-column">
					    <section id="archives-3" class="widget widget_archive">
                <h2 class="widget-title">Locations</h2>
                <ul>
			            <li><a href="{{ "/locations/stevens-point-wi/" | relative_url }}">Stevens Point, WI</a></li>
			            <li><a href="{{ "/locations/wausau-wi/" | relative_url }}">Wausau, WI</a></li>
			            <li><a href="{{ "/locations/marshfield-wi/" | relative_url }}">Marshfield, WI</a></li>
			            <li><a href="{{ "/locations/minocqua-wi/" | relative_url }}">Minocqua, WI</a></li>
		            </ul>
		          </section>
            </div> 
            <div class="widget-column"> 
              <section id="text-4" class="widget widget_text">
                <h2 class="widget-title">Office Hours</h2> 
                <div class="textwidget">
                  8:00 a.m. &ndash; 4:30 p.m.<br/>Monday through Friday
                  <br/><br/>
                  Phone: <a href="tel:1-715-544-1775">(715) 544-1775</a>
                  <br/>
                  Fax: <a href="tel:1-715-544-1769">(715) 544-1769</a>
                </div> 
              </section> 
            </div>
	      </aside><!-- .widget-area -->

        
        <div class="site-info">
	        <div class="wrap">
            &copy; 2019 Waypoint Spine
			    </div><!-- .wrap -->
        </div><!-- .site-info -->
		      <nav class="jetpack-social-navigation jetpack-social-navigation-genericons" role="navigation" aria-label="Social Links Menu">
			    <div class="menu-social-menu-container">
            <ul id="menu-social-menu" class="menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom">
                <a href="https://www.facebook.com/waypointspine/">
                  <span class="screen-reader-text">Facebook</span>
                </a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom">
                <a href="https://www.instagram.com/waypointspine/">
                  <span class="screen-reader-text">Instagram</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
	    </footer>
    </div><!-- #page -->
    <script src="{{ "/assets/js/navigation.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/skip-link-focus-fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/jquery.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/global.js" | relative_url }}"></script>
  </body>
</html>

