<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ "/" | absolute_url }}" />
    <meta property="og:site_name" content="Waypoint Spine" />
    <meta property="og:image" content="{{ "/assets/img/preview.png" | relative_url }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="800" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="{{ page.description }}">

    <meta name="google-site-verification" content="0y1sG4jt_RxuXcdcqcSH9vYF8JUYYyhfsxDa1il0kFk" />
    
    <link href="{{ "/assets/img/favicon.ico" | relative_url }}" rel="icon">
    <link href="{{ "/assets/css/style.css" | relative_url }}" rel="stylesheet">
    
    {% include analytics.html %}
  </head>
  <body class="{{ include.body_class }}">
    <div id="page" class="site">
	    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
	    <header id="masthead" class="site-header" role="banner">
		    <div class="header-top">
			    <div class="wrap">
            {% include navigation.html %}
					  <div class="site-top-content">
		          <span class="site-top-content-1">Request Appointment</span>
                  <span class="site-top-content-2"><a href="tel:1-715-544-1775">(715) 544-1775</a></span>
            </div>
					</div>
		    </div><!-- .header-top -->
        <div class="custom-header">
          {% if page.featured_image_path %}
			    <div class="custom-header-image custom-header-image-featured" style="background-image: url({{ page.featured_image_path | relative_url }})">
          {% else %}
			    <div class="custom-header-image" style="background-image: url({{ "/assets/img/action-todd-fairchild.jpg" | relative_url }})">
          {% endif %}
				    <div class="site-branding">
	            <div class="wrap">
					      <p class="site-title">
                  <a href="{{ "/" | relative_url }}" class="site-logo-link" rel="home" itemprop="url">
                    <img src="{{ "/assets/img/logo.png" | relative_url }}"/>
                  </a>
                </p>
						    <!-- <p class="site-description">spinal care is the <em><strong>only</strong> thing we do</em></p> -->
	            </div><!-- .wrap -->
            </div><!-- .site-branding -->
			    </div>
        </div><!-- .custom-header -->
	    </header>
