.footer-image {
	background-position: center center;
	background-size: cover;
	padding-top: 50%;
	position: relative;
}

.lodestar-customizer .footer-image:not(.has-footer-image) {
	padding-top: 0;
}

.footer-image::before {
	position: absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.25+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Social nav */

.jetpack-social-navigation {
	background: #222;
	border-top: 1px solid #eee;
	padding: 20px 0;
	text-align: center;
}

.site-footer .jetpack-social-navigation ul {
	margin-bottom: 0;
}

.site-footer .jetpack-social-navigation a {
	background: #666;
	border-radius: 40px;
	color: #fff;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin: 0 5px;
	position: relative;
	transition: background 0.2s;
	width: 35px;
}

.site-footer .jetpack-social-navigation a:hover,
.site-footer .jetpack-social-navigation a:focus {
	background: #bbb;
}

.site-footer .jetpack-social-navigation .icon {
	height: 16px;
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}


/* Footer widgets */

.site-footer .widget-area {
	background-color: #eee;
	padding-bottom: 2em;
	padding-top: 4em;
}

/* Site info */

.site-info {
	background-color: #222;
	color: #fff;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
}

.site-info .wrap {
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}

.site-info a,
.site-info:visited {
	color: #fff;
	text-decoration: none;
}

.site-info .wrap .sep {
	margin: 0;
	display: block;
	visibility: hidden;
	height: 0;
	width: 100%;
}
