.lodestar-front-page .site-content {
	padding: 0;
}

.lodestar-panel {
	overflow: hidden;
	position: relative;
}

.panel-image {
	background-position: center center;
	background-size: cover;
	position: relative;
}

.panel-image::before {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
	bottom: 0;
	content: "";
	left: 0;
	right: 0;
	position: absolute;
	top: 100px;
}

.lodestar-front-page article:not(.has-post-thumbnail):not(.lodestar-intro):not(.jetpack-portfolio):not(.jetpack-testimonial) {
	border-top: 1px solid #ddd;
}

.panel-content {
	position: relative;
}

.panel-content .wrap {
	padding-bottom: 1.5em;
	padding-top: 2em;
}

.panel-content .entry-title {
	color: #ccc;
	text-align: center;
}

/* One Column */

.one-column .panel-content .wrap {
	background-color: #fff;
	/* max-width: 905px; */
	max-width: 1000px;
}

.child-pages {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	text-align: center;
}

.child-page {
	margin-bottom: 3em;
}

/* Portfolio */

.lodestar-panel .project-archive-content {
	text-align: center;
}

.lodestar-panel .portfolio-projects {
	margin-left: -10px;
	margin-right: -10px;
	padding-top: 2em;
}

/* Testimonial */

.lodestar-panel .testimonials {
	padding-top: 2em;
}

.lodestar-panel .jetpack-testimonial {
	padding-bottom: 0;
}

body .lodestar-panel .jetpack-testimonial .entry-header {
	padding-top: 1.0em;
}

body:not(.logged-in) .lodestar-panel .jetpack-testimonial .entry-header {
	padding-top: 2.0em;
}

.lodestar-panel .jetpack-testimonial .entry-header h2 {
	color: #333;
}

.lodestar-panel .jetpack-testimonial .entry-content {
	border: 0;
	font-size: 1.0em;
	padding: 0;
}

.lodestar-panel .jetpack-testimonial .edit-link {
	text-align: left;
}

.lodestar-panel .testimonial-about {
	margin: 0;
}

/* Recent Posts */

.lodestar-panel .recent-posts {
	padding-top: 2em;
}

.lodestar-front-page .lodestar-panel .recent-posts .post {
	border-top: 0 !important;
	padding-bottom: 2em;
}

.lodestar-panel .recent-posts .entry-header {
	margin-bottom: 1em;
}

.panel-content .wrap .recent-posts .post h2 {
	font-size: 20px;
	font-size: 1.25rem;
	text-align: left;
}

.lodestar-panel .recent-posts .edit-link {
	text-align: left;
}

/* Panel edit link */

.lodestar-panel .edit-link {
	display: block;
	font-size: 85%;
	letter-spacing: 0.08em;
	margin: 0.3em 0 0;
	text-align: center;
	text-transform: uppercase;
}

/* First panel */

.lodestar-intro {
	margin-bottom: 0;
	padding: 1.5em 0;
}

.lodestar-intro .entry-content {
	color: #555;
	font-size: 20px;
	font-size: 1.25rem;
	text-align: center;
}

.lodestar-intro .entry-content *:last-child {
	margin-bottom: 0;
}

.lodestar-intro .edit-link {
	display: block;
	font-size: 85%;
	letter-spacing: 0.08em;
	margin-top: 2em;
	text-align: center;
	text-transform: uppercase;
}


.address-header {
  font-family: "Work Sans", "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: 800;
	letter-spacing: 0.1em;
	line-height: 1.25;
	margin: 0 0 0.75em;
	padding: 0.75em 0 0 0;
	text-transform: uppercase;
}
