.page-header {
	padding-bottom: 2em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-links span {
	margin: 0 0.25em;
}

/* 404 page */

.error404 .page-content .search-form,
.search .page-content .search-form {
	margin-bottom: 3em;
}
