.widget {
	padding-bottom: 3em;
}

#secondary .widget,
#colophon .widget {
	font-size: 90%;
}

h2.widget-title {
	font-size: 18px;
	font-size: 1.125rem;
}

.widget-title a {
	color: inherit;
}

/* widget forms */
.widget input:not([type="button"], [type="submit"], [type="reset"]),
.widget select,
.widget textarea {
	width: 100%;
}


/* widget lists */
.widget ul {
	list-style: none;
	margin: 0;
}

.widget ul li {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 0.5em 0;
}

.widget ul li + li {
	margin-top: -1px;
}

.widget ul li ul {
	padding: 0;
	position: relative;
}

.widget ul li li {
	border: 0;
	padding: 6px 0 6px 1.5rem;
}

/* Widget lists of links */

.widget_top-posts ul li ul,
.widget_rss_links ul li ul,
.widget-grofile ul.grofile-links li ul,
.widget_pages ul li ul,
.widget_meta ul li ul {
	bottom: 0;
}

.widget_nav_menu ul li li,
.widget_top-posts ul li,
.widget_top-posts ul li li,
.widget_rss_links ul li,
.widget_rss_links ul li li,
.widget-grofile ul.grofile-links li,
.widget-grofile ul.grofile-links li li {
	padding-bottom: 0;
}

/* Widget markup */

.widget .post-date,
.widget .rss-date {
	font-size: .81em;
}

/* Text Widget */

.widget_text {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/* Archives, Categories, Menu, Pages, Recent Comments, Recent Posts */

.widget .rss-date {
	display: block;
}

/* Contact Info Widget */

.widget_contact_info .contact-map {
	margin-bottom: 0.5em;
}

/* Goodreads */

.widget_goodreads div[class^="gr_custom_container"] {
	background: transparent;
	border: 0;
	padding: 0;
}

.widget_goodreads div[class^="gr_custom_each_container"] {
	border-bottom: 0;
}

.widget_goodreads div[class^="gr_custom_each_container"] a {
	color: inherit;
}

.widget_goodreads div[class^="gr_custom_author"] {
	font-size: 12px;
	font-size: 0.75rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

/* Gravatar */

.widget-grofile h4 {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 0;
}

/* Recent Comments */

.widget_recent_comments table,
.widget_recent_comments th,
.widget_recent_comments td {
	border: 0;
}

/* Recent Posts widget */

.widget_recent_entries .post-date {
	display: block;
}

/* RSS Widget */

.widget_rss ul li {
	padding: 1em 0;
}

/* Search Widget */

.search-form {
	position: relative;
}

.search-form input[type="search"] {
	display: block;
	padding: 8px;
	width: 100%;
}

.search-form .search-submit {
	position: absolute;
	right: 0;
	top: 0;
}

/* Social Icons widget */

.widget_wpcom_social_media_icons_widget ul li {
	border: 0;
}

.widget_wpcom_social_media_icons_widget ul li a {
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.widget_wpcom_social_media_icons_widget ul li a:hover,
.widget_wpcom_social_media_icons_widget ul li a:focus {
	opacity: 0.7;
}

/* Tag and Category Cloud widgets */

.tagcloud,
.widget_tag_cloud,
.wp_widget_tag_cloud {
	line-height: 1.5;
}

.widget .tagcloud a,
.widget .tagcloud a:visited,
.widget.widget_tag_cloud a,
.widget.widget_tag_cloud a:visited,
.wp_widget_tag_cloud a,
.wp_widget_tag_cloud a:visited {
	border: 1px solid #ddd;
	display: inline-block;
	float: left;
	font-size: 1rem !important; /* !important to overwrite inline styles */
	margin: 4px 4px 0 0 !important;
	padding: 4px 10px 5px !important;
	position: relative;
	-webkit-transition: border-color 0.2s;
	transition: border-color 0.2s;
	width: auto;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	z-index: 0;
}

.widget .tagcloud a:hover,
.widget .tagcloud a:focus,
.widget.widget_tag_cloud a:hover,
.widget.widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:focus {
	border-color: #ccc;
	text-decoration: none;
}

/* Calendar widget */

.widget_calendar th,
.widget_calendar td {
	text-align: center;
}

.widget_calendar tfoot td {
	border: 0;
}
